*{
    margin: 0%;
    padding: 0%;
    
}
header{
    background-color: rgb(107, 172, 246);
    
}
.logo{
    height: 100px;
    width: 100px;
}
.menu{
    float: right;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20%;
    padding: 20px;

  }
.menu ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    
}